
body {
  background-color: whitesmoke
}

.navbar {
    height: 175px;
    width: 100%;
    background-color: #111010;
    position: relative;
    background-image: url("../images/salad-4267061.jpg");
    filter: brightness(90%);
    filter: grayscale(70%);
    }

        
    .navbar-fixed-top {
        position:fixed !important;
    }

  .navbar-brand {
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-weight:400;
    color: rgb(220, 228, 220);
    padding: 10px 10px 10px 10px;
    font-size: 160%;
    
    }

    .nav-link {
        font-family: 'Raleway', sans-serif;
        color: rgb(220, 220, 220);
        font-size:large;          
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 175px 4px 0px 4px;
        justify-content: center;
      }
      
      .col-lg-4 {
        padding-top: 175px;
      }

      .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }
      
      .featurette {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }
      
      
      @media screen and (max-width: 800px) {
        .column {
          flex: 50%;
          max-width: 50%;
        }
      }
      
      @media screen and (max-width: 600px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }
      }
      
      .form-container {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 0;
        border-radius: 20px;
        overflow: hidden;
        padding-top: 5px; 
          
    }
    .form-container .form-img {
        background-image: url("../images/HeartSoil_Lead1.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 50%;
        height: 728px;
        vertical-align: top;
        display: inline-block;
    }
    .form-container .form-horizontal {
        background: rgb(139, 138, 138);
        width: 50%;
        padding: 33px 35px 32.5px;
        display: inline-block;
    }
    .form-container .title {
        color:#fff;
        font-size: 25px;
        font-weight: 400;
        margin: 0 0 35px;
    }
    .form-container .form-horizontal .form-group { margin: 0 0 10px; }
    .form-container .form-horizontal .form-control {
        color: #ccc;
        background: transparent;
        padding: 5px 0;
        margin-bottom: 33px;
        border: none;
        border-bottom: 1px solid rgba(255,255,255,.2);
        border-radius: 0;
    }
    .form-container .form-horizontal .form-control:focus {
        outline: none;
        box-shadow: none;
    }
    .form-container .form-horizontal .form-control::placeholder {
        color: #ccc;
        font-size: 16px;
        font-weight: 400;
    }
    .form-container .form-horizontal .form-group select.form-control option {
        color: #000;
        background: #fff;
    }
    .form-container .form-horizontal .btn {
        color:#fff;
        background:#4dae3c;
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 50px;
        padding: 8px 25px;
        border: none;
        transition: all .4s ease;
    }
    .form-container .form-horizontal .btn:hover{ text-shadow: 2px 2px 2px rgba(0,0,0,.6); }
    .form-container .form-horizontal .btn:focus{ outline: none; }
    @media only screen and (max-width:576px){
        .form-container .form-img{
            width: 100%;
            height: 400px;
        }
        .form-container .form-horizontal{ width: 100%; }
    }

    .col-lg-4 {
      padding: 50px;
    }

    h2 {
      padding: 10px;
    }

      
    main p {
      padding-top: 10px;
    }

    .rowbtn {
      text-align:left
    }
    
   hr {
    border-top: 3px solid rgb(144, 175, 144);
    border-radius: 5px;
    opacity: 1;
    }  
    
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: lime
}

.navbar-nav {
    --bs-nav-link-hover-color: lime;
  }

  .navbar {
    --bs-navbar-brand-hover-color: lime;
}

@media screen and (min-width: 767px) {
  .navbar-brand {
    font-size: 70px;
  }
 
}

.rowbtn {
  text-align: center;
}

.fw-normal {
  text-align: center;
}

.p-row {
  text-align: justify;
  padding-bottom: 30px;
}

.rowbtn {

    color:#fff;
    background:#4dae3c;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 50px;
    padding: 8px 25px;
    border: none;
    transition: all .4s ease;
}

.modal-backdrop {
  display: none;
  z-index: 1040 !important;
}

.modal-content {
  margin: 2px auto;
  z-index: 1100 !important;
}

.modal-header {
  background-color: blanchedalmond;
     
}

.fa-person-digging {
  text-align: right !important;
}

.fa-shop {
  padding-left: 55px;
}

.fw2 {
  padding-top: 20px;
}

.p-row2 {
  padding-bottom: 20px;
}

/* CSS Styling for smaller screens */

@media (max-width: 767px){
  body .no-pm {
      padding-left:0 !important;
      margin:0 !important;
  }
  .fa-trowel {
      padding-left: 100px;
      padding-right: 100px;
        font-size: 6em;
  }
  .fa-carrot {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 6em;

  }
  .fa-shop {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 6em;
  }
  .col-lg-4 {
    padding-bottom: 0;
    padding-top: 25px;
  }
.featurette {
  padding-top: 25px;
  padding-bottom: 25px;
}
.featurette-divider {
  padding-bottom: 0px;
  margin-bottom: 0px;
  }
  
.nav-link {
  font-size:medium;
}


.lead {
  font-size: 1rem;
}

.p-row {
font-size: 1rem;
}

}

h2 {
  font-family: 'lobster';
  font-style: italic;
}


p {
  font-family: 'IBM Plex Sans';
}

iframe {
  height: 500px !important;
  width: 500px !important;
}

.guide {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width:768px) {
  .navbar-brand {
    max-width: 100px;
  }
  }

.featurette-heading i {
  margin-left: 10px;
}

@media(max-width: 767px) {
  .container-fluid {
      width: auto;
  }
}